h1{font-size: 30px;
    margin-bottom: 60px;
    background: rgb(0, 0, 0);
    background: linear-gradient(336deg, rgba(255,121,116,1) 31%, rgba(255,8,0,0.7819328414959734) 76%, rgba(252,133,129,1) 100%);     background-clip: text;
    -webkit-text-fill-color: transparent;
}
body{ background: rgb(233,131,131);
    background: linear-gradient(352deg, rgba(233,131,131,1) 0%, rgba(255,172,125,1) 87%);
    background-size: cover; 
    background-repeat: no-repeat;
    text-align: center;
    display: flex; 
    min-height: 100vh;
    align-items: center;
}
.form-control {
    width: 600px;
    margin-bottom: 0;
    margin-top: 10px;
  }
.container{display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;}
.btn{background-color: white;}
.buttons {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-top: 20px;}
   